@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #fff;
    --black: #262626;
    --gray: #F0F0F0;
    --green: #3DB83D;
    --yellow: #FFD343;
    --transition: .5s all ease;

    --padding: 20px;
    --border-radius: 20px;
    --font-size-title: 40px;
    --font-size-content-title: 25px;
    --font-size-subtitle: 18px;
}

@media only screen and (max-width: 991px) {
    :root {
        --font-size-title: 30px;
        --font-size-content-title: 19px;
        --font-size-subtitle: 17px;
    }
}

@media only screen and (max-width: 575px) {
    :root {
        --padding: 16px;
        --font-size-title: 24px;
        --font-size-content-title: 18px;
        --font-size-subtitle: 16px;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    /* user-select: none; */
}

html {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Onest', sans-serif;
    background-color: var(--gray);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

input {
    padding-left: 10px;
}

button {
    border: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

img {
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.scrollUp {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    right: 30px;
    color: #fff;
    background-color: #262626;
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
    box-shadow: inset 0 0 10px #000;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(25px);
}

.scrollUp.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.scrollUp span {
    display: inline-block;
    font-size: 1.2rem;
}

.myContainer {
    width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

@media (max-width: 1399px) {
    .myContainer {
        width: 1140px;
    }
}

@media (max-width: 1199px) {
    .myContainer {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .myContainer {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .myContainer {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .myContainer {
        width: 100%;
    }
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1999;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;

}

.header .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header__nav .header__nav__btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .header__nav .header__nav__btns button {
    padding: .55rem 2rem;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--black);
    color: var(--white);
}

.intro {
    margin-top: 100px;
}

.intro .intro__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 20px;
    background: linear-gradient(140deg, #621980, #122e3c, #621980);
}

.intro .intro__items .intro__items__left h3 {
    color: var(--white);
    font-size: var(--font-size-content-title);
    font-weight: 500;
}

.intro .intro__items .intro__items__left h2 {
    margin-top: 50px;
    color: var(--white);
    font-size: var(--font-size-title);
    font-weight: 700;
}

.intro .intro__items .intro__items__left p {
    max-width: 600px;
    margin-top: 30px;
    color: var(--white);
    font-size: var(--font-size-content-title);
    font-weight: 500;
}

.intro .intro__items .intro__items__left button {
    padding: .5rem 2rem;
    margin-top: 90px;
    border-radius: 10px;
    font-size: 1.1rem;
    color: var(--black);
    background-color: var(--yellow);
}

.intro .intro__items .intro__items__right img {
    width: 280px;
    height: 280px;
}

@media only screen and (max-width: 991px) {
    .intro .intro__items {
        padding: 25px;
    }

    .intro .intro__items .intro__items__left button {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .intro .intro__items {
        padding: var(--padding);
        position: relative;
    }

    .intro .intro__items .intro__items__right {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0.5;
    }

    .intro .intro__items .intro__items__right img {
        opacity: 0.5;
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 575px) {
    .intro .intro__items {
        padding: var(--padding);
    }

    .intro .intro__items .intro__items__left h2 {
        margin-top: 64px;
    }

    .intro .intro__items .intro__items__left p {
        margin-top: 31px;
    }

    .intro .intro__items .intro__items__left button {
        margin-top: 21px;
        padding: .3rem 1rem;
        font-size: 15px;
    }
}

.infoList__items {
    margin-top: 1rem;
    background-color: #fff;
    padding: var(--padding);
    border-radius: 20px;
}

.infoList__items__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.infoList__items__list__item {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoList__items__list__item img {
    width: 40px;
    height: 40px;
}

.infoList__items__list__item p {
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: var(--black);
}

@media only screen and (max-width: 1399px) {
    .infoList__items__list__item {
        width: 300px;
    }
}

@media only screen and (max-width: 1199px) {
    .infoList__items__list__item {
        width: 400px;
    }
}

@media only screen and (max-width: 991px) {
    .infoList__items__list {
        justify-content: center;
        gap: 21px;
    }

    .infoList__items__list__item {
        width: 100%;
    }
}

.information {
    margin-top: 65px;
}

.information__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 30px;
    padding: var(--padding);
}

.information__items__left {
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information__items__left h2 {
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--black);
}

.information__items__left span {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.information__items__left span p {
    color: var(--black);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.information__items__right {
    width: 53%;
}

.information__items__right img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media only screen and (max-width: 1199px) {
    .information {
        margin-top: 50px;
    }

    .information__items__left {
        height: 270px;
    }

    .information__items__left span {
        gap: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .information {
        margin-top: 40px;
    }

    .information__items {
        flex-direction: column;
        gap: 20px;
    }

    .information__items__left {
        width: 100%;
        height: 150px;
    }

    .information__items__right {
        width: 100%;
    }
}


@media only screen and (max-width: 575px) {
    .information__items {
        padding: var(--padding);
    }

    .information__items__left {
        height: auto;
    }

    .information__items__left span {
        margin-top: 2rem;
    }
}

.experience h2 {
    margin: 45px 0;
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--black);
}

.experience__items {
    background-color: var(--white);
    border-radius: 20px;
    padding: var(--padding);
    display: flex;
    align-items: center;
    gap: 20px;
}

.experience__items__left {
    width: 50%;
}

.experience__items__left img {
    width: 100%;
    height: auto;
}

.experience__items__right {
    width: 50%;
}

.experience__items__right .title {
    color: var(--black);
    font-size: var(--font-size-content-title);
    font-weight: 700;
}

.experience__items__right .subtitle {
    color: var(--black);
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    margin-top: .5rem;
}

.experience__items__right .span {
    display: block;
    color: #00000080;
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    margin: .7rem 0;
}

.experience__items__right .span a {
    color: #00000080;
    text-decoration: underline;
}

.experience__items__right .list1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.experience__items__right .list1 li {
    background-color: #F5F5F5;
    width: 60%;
    border-radius: 1rem;
    height: 90px;
    padding: 1rem;
}

.experience__items__right .list1 li:first-child {
    width: 40%;
}

.experience__items__right .list1 li:last-child {
    width: 80%;
}

.experience__items__right .list1 li h3 {
    font-size: 34px;
    font-weight: 700;
    color: var(--black);
}

.experience__items__right .list1 li p {
    font-size: 15px;
    font-weight: 600;
    color: var(--black);
}

.experience__items__right .text {
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: var(--black);
    margin: 25px 0;
}

.experience__items__right .list2 {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.experience__items__right .list2 li {
    padding: 5px 10px;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    background-color: #F5F5F5;
    border-radius: 12px;
}

@media only screen and (max-width: 991px) {
    .experience h2 {
        margin: 25px 0;
    }

    .experience__items {
        flex-direction: column;
    }

    .experience__items__left {
        width: 100%;
    }

    .experience__items__right {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .experience h2 {
        margin: 20px 0;
    }

    .experience__items__right .list1 li {
        width: 70%;
    }

    .experience__items__right .list1 li:first-child {
        width: 50%;
    }

    .experience__items__right .list1 li:last-child {
        width: 100%;
    }

    .experience__items__right .list1 li h3 {
        font-size: 30px;
    }

    .experience__items__right .list1 li p {
        font-size: 13px;
    }

    .experience__items__right .text {
        margin: 20px 0;
    }

    .experience__items__right .list2 li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 444px) {
    .experience__items__right .list1 li h3 {
        font-size: 25px;
    }

    .experience__items__right .list1 li {
        width: 80%;
    }

    .experience__items__right .list1 li:first-child {
        width: 60%;
    }

    .experience__items__right .text {
        margin: 20px 0;
    }

    .experience__items__right .list2 li {
        font-size: 12px;
    }
}

.learn .learn__title {
    margin: 40px 0;
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--black);
}

.learn .learn__list {
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 32px;
    border-radius: 20px;
}

.learn .learn__list .learn__list__item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 31%;
}

.learn .learn__list .learn__list__item b {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    color: var(--green);
    font-size: 1.5rem;
}

.learn__list__item p {
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: var(--black);
    width: 90%;
}

.learn__imgs {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learn__imgs .learn__imgs__img1 {
    width: 40%;
}

.learn__imgs .learn__imgs__img1 img {
    width: 100%;
}

.learn__imgs .learn__imgs__img2 {
    width: 55%;
}

.learn__imgs .learn__imgs__img2 img {
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .learn .learn__title {
        margin: 25px 0;
    }

    .learn__list__item p {
        font-size: var(--font-size-subtitle);
    }

    .learn .learn__list .learn__list__item {
        width: 48%;
    }
}

@media only screen and (max-width: 767px) {
    .learn .learn__list .learn__list__item {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .learn .learn__title {
        margin: 20px 0;
    }

    .learn__imgs {
        flex-direction: column;
    }

    .learn__imgs .learn__imgs__img1 {
        width: 100%;
    }

    .learn__imgs .learn__imgs__img2 {
        width: 100%;
    }
}

.process__title {
    margin: 40px 0;
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--black);
}

.process .process__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.process__list__item {
    width: 30%;
    height: 444px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid #FFFFFF1A;
    border-radius: 20px;
    padding: var(--padding);
}

.process__list__item__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.process__list__item__title p {
    width: 90%;
    font-size: var(--font-size-content-title);
    font-weight: 700;
    color: var(--black);
}

.process__list__item__title b {
    width: 40px;
    height: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #00D959 0%, #C1EC65 48.96%, #CFFF80 100%);
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process__list__item__text {
    margin-top: 1rem;
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: var(--black);
}

.process__list__item__img {
    border-radius: 20px;
    margin-top: 2rem;
    width: 100%;
}

.process__list__div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 64%;
}

.process__list__div__item {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid #FFFFFF1A;
    border-radius: 20px;
    padding: var(--padding);
}

@media only screen and (max-width: 991px) {
    .process .process__title {
        margin: 25px 0;
    }

    .process .process__list {
        flex-wrap: wrap;
        gap: 30px;
    }

    .process__list__item {
        width: 100%;
        height: auto;
    }

    .process__list__div {
        width: 100%;
    }

    .process__list__div__item {
        width: 100%;
    }

    .process__list__item__title b {
        width: 29px;
        height: 29px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 575px) {
    .process .process__title {
        margin: 20px 0;
    }

    .process .process__list {
        gap: 20px;
    }

    .process__list__item__img {
        margin-top: 1rem;
        height: 170px;
    }
}

.suitable__title {
    margin: 40px 0;
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--black);
}

.suitable__list {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--white);
    border-radius: 20px;
    padding: var(--padding);
}

.suitable__list__item {
    width: 33%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.suitable__list__item b {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    color: var(--green);
    font-size: 1.5rem;
}

.suitable__list__item p {
    width: 90%;
    font-size: var(--font-size-subtitle);
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    .suitable__title {
        margin: 25px 0;
    }

    .suitable__list {
        flex-wrap: wrap;
    }

    .suitable__list__item {
        width: 45%;
    }
}

@media only screen and (max-width: 767px) {
    .suitable__list__item {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .suitable__title {
        margin: 20px 0;
    }
}

.portfolio__title {
    width: 95%;
    margin: 40px 0;
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--black);
}

.portfolio__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.portfolio__list__item {
    background-color: var(--white);
    border-radius: 20px;
    width: 33%;
}

.portfolio__list__item img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.portfolio__list__item p {
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: var(--black);
    padding: 5px 20px 10px;
}

@media only screen and (max-width: 1199px) {
    .portfolio__list__item img {
        height: 170px;
    }
}

@media only screen and (max-width: 991px) {
    .portfolio__title {
        margin: 25px 0;
    }

    .portfolio__list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .portfolio__list__item {
        width: 48%;
    }
}

@media only screen and (max-width: 767px) {
    .portfolio__list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .portfolio__list__item {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .portfolio__title {
        margin: 20px 0;
    }
}

.rezyume__title {
    margin: 40px 0;
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--black);
}

.rezyume__items {
    display: flex;
    gap: 70px;
}

.rezyume__items__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.rezyume__items__info__top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.rezyume__items__info__top__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rezyume__items__info__top__item h3 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: var(--font-size-title);
}

.rezyume__items__info__top__item h3 img {
    width: 48px;
    height: 48px;
}

.rezyume__items__info__top__item p {
    font-size: var(--font-size-subtitle);
    font-weight: 500;
}

.rezyume__items__info__top__item img {
    width: 48px;
    height: 48px;
}

.rezyume__items__info__top__item:last-child {
    width: 160px;
    position: absolute;
    top: 20px;
    right: 0px;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.rezyume__items__info__center {
    width: 80%;
    margin-top: 2rem;
}

.rezyume__items__info__center p {
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: #0F0F10D9;
}

.rezyume__items__info__center ul {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.rezyume__items__info__center ul li {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rezyume__items__info__center ul li b {
    background-color: var(--green);
    color: var(--white);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: .9rem;
}

.rezyume__items__info__center ul li p {
    width: 90%;
    font-size: var(--font-size-subtitle);
    font-weight: 500;
}

.rezyume__items__info__bottom {
    margin-top: 1rem;
    width: 75%;
}

.rezyume__items__info__bottom p {
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: #0F0F10D9;
}

.rezyume__items__info__bottom ul {
    margin-top: .7rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.rezyume__items__info__bottom ul li {
    background-color: #F5F5F5;
    border-radius: 12px;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.rezyume__items__info__bottom ul li img {
    width: 25px;
    height: 25px;
}

.rezyume__items__info__bottom ul li p {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.rezyume__items__fromReg {
    width: 30%;
    height: 444px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    border-radius: 20px;
    padding: var(--padding);
    background-color: var(--white);
}

.rezyume__items__fromReg h3 {
    font-size: 27px;
    font-weight: 500;
    color: var(--black);
}

.rezyume__items__fromReg form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}

.input-container {
    position: relative;
    width: 100%;
}

input {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: 2px solid #11101666;
    border-radius: 16px;
    transition: all 0.3s;
    color: #777;
    font-size: 15px;
    font-weight: 500;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #777;
    background-color: var(--white);
    padding: 0 5px;
    transition: all 0.3s;
}

input:focus+.placeholder,
input:not(:placeholder-shown)+.placeholder {
    transform: translateY(-180%);
    font-size: 12px;
    color: #777;
}

.rezyume__items__fromReg form button {
    width: 100%;
    border-radius: 1rem;
    font-size: 16px;
    font-weight: 700;
    padding: 1rem;
    color: var(--white);
    background-color: var(--black);
}

@media only screen and (max-width: 991px) {
    .rezyume__items {
        gap: 40px;
        flex-direction: column;
    }

    .rezyume__items__info {
        width: 100%;
    }

    .rezyume__items__info__center {
        width: 100%;
    }

    .rezyume__items__info__bottom {
        width: 90%;
    }

    .rezyume__items__fromReg {
        order: -1;
        width: 376px;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    .rezyume__items__info__top {
        flex-direction: column;
    }

    .rezyume__items__info__top__item:last-child {
        width: 100%;
        position: relative;
        flex-direction: row;
    }

    .rezyume__items__info__top__item:last-child img {
        order: -1;
    }

    .rezyume__items__info__center ul li {
        width: 100%;
        margin-top: 0;
    }

    .rezyume__items__info__bottom {
        width: 100%;
    }

    .rezyume__items__fromReg {
        width: 100%;
    }
}

.curriculum__title {
    margin: 40px 0;
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--black);
}

.curriculum__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.curriculum__list li {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 12px 24px;
    font-size: var(--font-size-subtitle);
}

.curriculum__items {
    margin-top: 2rem;
    background-color: var(--white);
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.curriculum__items h3 {
    font-size: var(--font-size-content-title);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.curriculum__items h3 i {
    border-radius: .5rem;
    background-color: #8D46F6;
    width: 4px;
    height: 19.8px;
    border-radius: 8px;
}

.curriculum__items__title {
    width: 70%;
    margin: 30px 0;
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: var(--black);
}

.curriculum__items__list {
    background-color: var(--gray);
    padding: 10px;
    border-radius: var(--border-radius);
}

.curriculum__items__list__title {
    margin: 30px 0;
    font-weight: 500;
    font-size: var(--font-size-subtitle);
}

.curriculum__items__list__div {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.curriculum__items__list__div__question {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 10px var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.curriculum__items__list__div__question .question {
    width: 90%;
    font-size: var(--font-size-subtitle);
    font-weight: 500;
}

.curriculum__items__list__div__question .p {
    width: 40px;
    height: 40px !important;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
}

.curriculum__items__list__div__question .p .minus {
    display: none;
}

.curriculum__items__list__div__answer {
    width: 100%;
    height: 0;
    opacity: 0;
    padding-left: 20px !important;
    background-color: var(--gray);
    font-size: var(--font-size-subtitle);
    transition: all .5s ease;
}

.aqardion {
    padding: 10px 0;
    opacity: 1 !important;
    height: auto !important;
}

.aqardion .plus {
    display: none;
}

.aqardion .minus {
    display: block !important;
}

@media only screen and (max-width: 991px) {
    .curriculum__list {
        gap: 20px;
        flex-wrap: wrap;
    }

    .curriculum__list li {
        padding: 8px 16px;
    }

    .curriculum__items__title {
        width: 100%;
    }
}





























.faq .faq__title {
    text-align: center;
    margin: 40px 0;
    color: var(--black);
    font-size: var(--font-size-title);
    font-weight: 500;
}

.faq .faq__items {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faq .faq__items .faq__items__question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem 0px;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    z-index: 2;
    background-color: var(--gray);
}

.faq .faq__items .faq__items__question span {
    width: 90%;
    font-size: var(--font-size-content-title);
    font-weight: 500;
    color: var(--black);
}

.faq .faq__items .faq__items__question p {
    color: var(--black);
    background-color: var(--white);
    width: 30px;
    height: 30px;
    font-size: 1.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.faq .faq__items .faq__items__question p b {
    font-weight: 400;
}

.faq .faq__items .faq__items__question p .minus {
    display: none;
}

.faq .faq__items .faq__items__answer {
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #E0E0E0;
    transition: all .5s ease;
    background-color: var(--gray);
    opacity: 0;
    font-size: var(--font-size-subtitle);
}

.faqAct {
    padding: 10px 0;
    opacity: 1 !important;
    height: auto !important;
}

.faqActP .plus {
    display: none !important;
}

.faqActP .minus {
    display: block !important;
}

@media only screen and (max-width: 991px) {
    .faq .faq__title {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 575px) {
    .faq .faq__title {
        margin: 25px 0;
    }
}

.footer {
    margin: 40px 0;
}

.footer__liner {
    width: 80%;
    margin: 0 auto;
    height: 2px;
    background-color: #c7c5c5;
}

.footer__nav {
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer__nav__logo {
    width: 120px;
    height: 25px;
}

.footer__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer__list__item a {
    color: var(--black);
    font-size: var(--font-size-subtitle);
    font-weight: 500;
}

.footer__nav__tel {
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: var(--black);
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom__text {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

.footer__bottom__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 1199px) {
    .footer__liner {
        width: 100%;
    }

    .footer__nav {
        gap: 40px;
    }

    .footer__list {
        gap: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .footer__liner {
        width: 100%;
    }

    .footer__nav {
        gap: 40px;
        flex-wrap: wrap;
    }

    .footer__nav__logo {
        order: -2;
    }

    .footer__nav__tel {
        order: -1;
    }

    .footer__list {
        gap: 40px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 575px) {
    .footer__bottom {
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer__list {
        gap: 30px;
    }

    .footer__bottom__list {
        order: -1;
    }
}